body{
    background-color: black;
    margin: auto;
    padding: 0;
    width: 30%;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 80px;
    border-radius: 30px;
    color: white;

}

h1 {
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    text-align: center;
    margin-top: 50px;
}

#footer {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: -5px;
}
