body {
    background-color: black;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'times new roman';
}

h2 {
    color: white;
    font-family: 'times new roman';
}

#section_imgdrink {
    text-align: center;
}

#section_sobre {

}

#div_sobre {
    display: flex;
}

#text_sobre {
    text-align: left;
    padding-left: 10px;
    color: white;
}