<!--inicio do style--> 

form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 80px;
    border-radius: 30px;
    color:black;

} 

<!--edição do input-->
#input {
    margin-bottom: 20px;
    }

<! edição do botão-->
#botão {
    background-color: aqua;
}
<! edição do hear-->
head {
    background-color: blueviolet;
}

<!edição do body-->
body {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}