<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="../layouts/header.css" rel="stylesheet">
    <title>Drink3</title>
</head>
<body>
    <header>
        <div>
            <divid id="div_1" >
            <section id="section_1">
                <img src="../assets/images/Picsart_23-03-07_10-40-54-243.png" width="100">
            </section>
            </div>
        </div>
        <nav>
            <ul>
                <li><a class="anav_1" href="./../index.html" target="_parent">Menu</a></li>
                <li><a class="anav_2" href="./../pages/feedback.html" target="_parent">Feedback</a></li>
            </ul>
        </nav>
    </header>
    
</body>
</html>